.custom-navbar {
    background-color: #343a40; /* Dark grey background */
    border-bottom: 4px solid #f8f9fa; /* Light grey border bottom */
    border-radius: 0; /* Remove border radius */
    margin-bottom: 20px; /* Add some margin to the bottom */
}

.custom-navbar .navbar-brand {
    font-size: 24px; 
    display: flex; 
    align-items: center; 
}

.custom-navbar .navbar-brand i {
    margin-right: 5px; 
}

.custom-navbar .navbar-nav .nav-link {
    color: #f8f9fa; 
    font-weight: bold; 
    margin-right: 10px; 
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ffffff; 
}

.custom-navbar .navbar-nav .nav-item.active .nav-link {
    color: #ffffff; 
    background-color: #28a745; 
    border-radius: 20px; 
    padding: 8px 20px; 
}

.custom-navbar .navbar-nav .nav-item.active .nav-link:hover {
    background-color: #218838; 
}
